export EDITOR=nvim
alias ls='ls -l --color'

# Golang
## goenv
export GOENV_ROOT="$HOME/.goenv"
export PATH="$GOENV_ROOT/bin:$PATH"
eval "$(goenv init -)"

## Helpful Stuff
export PATH="$GOROOT/bin:$PATH"
export PATH="$PATH:$GOPATH/bin"

# Python
## pyenv
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init --path)"
eval "$(pyenv init -)"

## Package Management - Poetry
export PATH="$HOME/.local/bin:$PATH"

# HashiCorp
## Terraform
export PATH="$HOME/.tfenv/bin:$PATH"
## Local Vars
export NOMAD_ADDR=http://nomad01.shackfam.net:4646
export CONSUL_HTTP_ADDR=consul01.shackfam.net:8500

{% if use_podman %}
# Container Management
## Podman
# alias docker='podman'
{% endif %}

# NodejS
## NodeENV
export PATH="$HOME/.nodenv/bin:$PATH"
eval "$(nodenv init -)"
## Yarn
export PATH="${HOME}/.yarn/bin:$PATH"
